<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.chmouel.gosmee</string>

    <key>ProgramArguments</key>
    <array>
      <string>gosmee</string>
      <string>https://smee.io/aBcDeF</string>
      <string>https://localhost:8080</string>
    </array>


    <key>RunAtLoad</key>
    <false/>


		<key>KeepAlive</key>
		<dict>
			<key>SuccessfulExit</key>
			<false/>
		</dict>

		<key>ThrottleInterval</key>
		<integer>5</integer>


    <key>StartInterval</key>
    <integer>20</integer>


  </dict>
</plist>
