[Unit]
Description=Gosmee Forward

[Service]
ExecStart=gosmee client https://smee.io/abcdef http://localhost:8080
EnvironmentFile=/etc/gosmee.env

[Install]
WantedBy=default.target
