<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gosmee - Webhook Forwarder</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        #main {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mainbox {
            padding: 0 50px;
        }

        .centered {
            text-align: center;
        }

        h2 {
            margin-bottom: 10;
            text-decoration: underline;
        }

        .footer {
            margin-top: 50px;
            font-size: 10px;
            color: #ccc;
            font-style: italic;
            text-decoration: none;
            text-align: right;
        }

        h5 {
            /* remove padding */
            margin: 0;
        }

        /* make list elements more space in between*/
        li {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <div id="main">
        <!-- create a centered div  -->
        <h2 class="centered">Gosmee webhook forwarder</h2>
        <div class="mainbox">
            </h5>
            <ul>
                <li> Download the gosmee client for your platform: <a
                        href="https://github.com/chmouel/gosmee/releases">here</a>
                <li>Use this endpoint URL to configure your webhook service (ie: Github, Gitlab, Zapier etc..):
                    <br><br>
                    <a href="{{ .URL }}">{{ .URL }}</a>
                </li>
                <li>
                    Using the gosmee client you can then forward the endpoint URL to your local service :
                    <br><br>
                    <code>-$ gosmee client {{ .URL }} http://localhost:8080</code>
                </li>
                <li>
                    See <code>gosmee help</code> for more options.
            </ul>
        </div>
    </div>
    <!-- show footer -->
    <p class="footer">
        <a href="https://github.com/chmouel/gosmee">Provided by gosmee</a>
    </p>

</html>
